aws_region   = "ap-south-1"
project_name = "stockmind"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"

availability_zones = [
  "ap-south-1a",
  "ap-south-1b"
]

eks_version = "1.36"

node_instance_types = ["t3.medium"]
node_min_size       = 2
node_desired_size   = 2
node_max_size       = 4

db_instance_class        = "db.t4g.micro"
db_name                  = "stockmind"
db_engine_version        = "17"
db_allocated_storage     = 20
db_max_allocated_storage = 100
db_backup_retention_days = 7

# Do not commit real values.
gemini_api_key = "REPLACE_ME"
jwt_secret     = "REPLACE_WITH_A_LONG_RANDOM_SECRET"

argocd_namespace     = "argocd"
argocd_chart_version = "9.1.6"

aws_load_balancer_controller_chart_version = "1.13.4"
